.login {
  color: white;
}

.login-card {
  padding: 3% 0;
}

.login-title-box {
  margin: 3% 0 !important;
  padding: 5%;
}

.login-title {
  background-color: rgb(12, 12, 12);
  padding: 5% 13% !important;
}

.login-subtitle {
  font-size: 2rem;
}

.login-button {
  background-color: rgb(32, 32, 32) !important;
  display: block;
  margin: 0 auto;
}
