body {
  background-color: rgba(0, 0, 0, 0.884) !important;
  color: white !important;
}

input,
textarea,
select {
  border: none;
  border-radius: 7px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.center {
  text-align: center;
  align-items: center;
}

.form-input {
  display: block;
  margin: 0 auto 7% auto;
}

.card {
  background-color: rgb(12, 12, 12) !important;
}

.modal-content {
  background-color: rgb(34, 34, 34) !important;
  color: white;
  border: white 1px solid;
}

.container {
  margin-top: 3%;
}

.divider {
  border-bottom: 2px solid rgb(58, 97, 156) !important;
}

.text-area {
  white-space: pre-line;
}

.link {
  text-decoration: none !important;
}

:focus {
  outline: 0;
}
